on early-boot
    chown system system /sys/class/leds/aw21024_led/hwen
    chmod 0664 /sys/class/leds/aw21024_led/hwen
    chown system system /sys/class/leds/aw21024_led/color
    chmod 0664 /sys/class/leds/aw21024_led/color
    chown system system /sys/class/leds/aw21024_led/rgbcolor
    chmod 0664 /sys/class/leds/aw21024_led/rgbcolor
    chown system system /sys/class/leds/aw21024_led/period
    chmod 0664 /sys/class/leds/aw21024_led/period
    chown system system /sys/class/leds/aw21024_led/repeat
    chmod 0664 /sys/class/leds/aw21024_led/repeat
    chown system system /sys/class/leds/aw21024_led/run
    chmod 0664 /sys/class/leds/aw21024_led/run
    chown system system /sys/class/leds/aw21024_led/effect
    chmod 0664 /sys/class/leds/aw21024_led/effect

service vendor.light-onyx /vendor/bin/hw/android.hardware.light-service.onyx
    class hal
    user system
    group system
    shutdown critical
    interface aidl android.hardware.light.ILights/default
